.password-generator {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: lightgray;
    border-radius: 8px;
  }
  
  .password-generator h1 {
    font-family: Arial;
    font-size: 28px;
    font-weight: 700;
    color: #2c90fa;
    margin-bottom: 32px;
    text-align: center;
  }
  
  .password-generator input[type="checkbox"] {
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    color: #707070;
    margin-bottom: 16px;
  }
  
  .password-generator input[type="range"] {
    width: 100%;
    margin-bottom: 24px;
  }
  
  .password-generator .password-label {
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    color: #707070;
    margin-bottom: 16px;
  }
  
  .password-generator .password-input {
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    color: lightcoral;
    width: 100%;
    padding: 12px;
    border: none;
    background-color: transparent;
  }
  
  
  
  .password-generator .generate-button:hover {
    background-color: #0056b3;
  }
  .generate-button{
    
        font-family: Arial;
        font-size: 18px;
        font-weight: 700;
        color: white;
        background-color: #0056b3;
        border: none;
        border-radius: 4px;
        padding: 12px 24px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      
  }
  .p{
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color:green;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  .giphy-embed{
    display: flex;
    flex-direction:;
  }
